
.father {
    /*flex-direction의 기본 값은 row이다.*/
    /*column = 세로*/
    flex-direction: row;
    /*바로 밑 자식에게만 효과를 줌으로 유의해야함.*/
    display: flex;
    /*가로축 정렬하기*/
    justify-content: space-around;
    /*세로축 정렬하기*/
    /*align-items: center;*/
    /*wrapper (부모) 클래스의 높이가 정해져야만 세로 정렬을 할수가 있다.*/
    height: 120vh;
}

.child {
    width: 200px;
    height: 200px;
    background: aqua;
    color: aliceblue;
}

.child:nth-child(2) {
    align-self: center;
}

.child:nth-child(3){
    align-self: flex-end;
}